body {
  background-color: #1E1E1E;
  color: #FFF;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  background-color: #333;
  border-radius: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

total {
	font-size: 2rem;
  margin-bottom: 2rem;
}
